flask
flask-sqlalchemy
flask-bcrypt
python-dotenv
mysqlclient
flask-cors
flask-session
redis
requests
cloudinary
flask-mail
jwt
google-auth 
google-auth-oauthlib 
google-auth-httplib2
google-api-python-client