@font-face {
    font-family: "Josefin Sans Italic";
    src: url("../fonts/JosefinSans-Italic-VariableFont_wght.ttf");
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Josefin Sans";
    src: url("../fonts/JosefinSans-VariableFont_wght.ttf");
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

$primary-color: #133C55;
$my-white: #efeff3;
$error-color: rgb(201, 3, 3);
$gray: #737272;
$light-blue: #00b5ad;
$orange: #f4a261;
$dark-orange: #b9763f;  
$dark-blue: #0F3057;

.favorites-container {
    width: 84%;
    background-color: $my-white;
    color: $primary-color;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-left: auto;
    margin-right: auto;
    margin-top: 13%;
    margin-bottom: 13%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1rem;

    &.slide-up {
        height: 62dvh;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        position: relative;

        .info-container {
            position: absolute;
            width: 100%;
            transition: opacity 0.5s ease-in-out;
            transition: transform 0.5s ease;
            transition: 0.5s ease-out;
            transform: translateX(150%);
            opacity: 0;
            


            &.slide-up {
                opacity: 1;
                transform: translateX(0);
            }

            .inner-info-container {
                display: flex;
                justify-content: space-between; 
                
            

            .info, .similar {
                width: 100%;

                h2 {
                    font-size: 1.5rem;
                    font-weight: 1000;
                    margin-top: -1.3rem;
                    margin-bottom: 1rem;
                    text-align: center;
                
                }

                h3 {
                    font-size: 1.3rem;
                    font-weight: 1000;
                    margin-top: 6rem;
                    margin-bottom: 1rem;
                    text-align: center;
                    align-self: center;
                }
            }

            .info {
                border-right: 2px solid lighten($gray, 30%);
            }

            .info-2 {
                margin-top: 2rem;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 1.5rem;
                padding: 0 1rem;
                

                .input-field-prop {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;


                    input{
                        
                        padding: .5rem;
                        // border: 2px solid lighten($gray, 30%);
                        border: 1.5px solid lighten($gray, 30%);
                        border-radius: 5px;
                        font-size: 1rem;
                        color: $primary-color;
                        background-color: $my-white;
                        font-family: "Josefin Sans", sans-serif;
                        opacity: 0.8;

                        &:focus {
                            border-color: $dark-blue;
                            outline: none;
                        }
                    }
                }
                button {
                    width: 40%;
                    padding: 7px;
                    margin-top: 5.5rem;
                    border-radius: 8px;
                    border: 1px solid $primary-color;
                    font-size: 1.1em;
                    color: $my-white;
                    font-family: "Josefin Sans", sans-serif;
                    background-color: $primary-color;
                }
        
                button:hover {
                    background-color: #386FA4;
                    cursor: pointer;
                }
            }

            .similar-properties {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                padding: 0 1rem;
                gap: 1rem;
                margin-top: 2rem;
                
                .similar-property {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    gap: .5rem;
                

                .input-field-prop {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;


                    input{
                        width: 70%;
                        padding: .2rem .5rem;
                        border: 1.5px solid lighten($gray, 30%);
                        border-radius: 5px;
                        font-size: 1rem;
                        color: $primary-color;
                        background-color: $my-white;
                        opacity: 0.8;
                        font-family: "Josefin Sans", sans-serif;
                    }
                }
                a {
                    color: $primary-color;
                    font-size: .9rem;
                    font-weight: 1000;
                    transition: color 0.5s ease-in-out;

                    &:hover {
                        color: lighten($primary-color, 20%);
                    }
                
                }
            }
            
            }
        }
        

        }

        .grid-container {
            transition: transform 0.5s ease; 
            transition: 0.5s ease-out;

            &.slide-up {
                transform: translateX(-100%);
                opacity: 0; 
            }
        }
    }

    #note {
        margin-top: -1rem;
        color: $primary-color;
        font-size: .9rem;
        margin-bottom: .5rem;
    }

    h1 {
        font-size: 2.3rem;
        font-weight: 1000;
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    .empty-rows {
        font-weight: 1000;
        margin-top: 5rem;
        margin-bottom: 5rem;
        text-align: center;
    }

    .favorites-table {
        width: 100%;
        background-color: $my-white;
        color: $primary-color;
        border-radius: 0px 0px 8px 8px;
        font-family: "Josefin Sans", sans-serif;
        font-size: 1rem;
    }
    
    .my-header {
        font-size: 1.05rem;
        font-weight: 1000;
    }
    
    .MuiTablePagination-root {
        color: $primary-color;
        font-family: "Josefin Sans", sans-serif !important;
    }
    
    .MuiTablePagination-selectLabel, .MuiTablePagination-select, .MuiTablePagination-displayedRows{
        color: $primary-color;
        font-family: "Josefin Sans", sans-serif !important;
    }
}

.favorites-table .MuiDataGrid-cell:focus,
.favorites-table .MuiDataGrid-cell:focus-within {
  outline: none !important;
}

.confirm-box {
    top: 35%;
}

.show-deleted-button {
    background-color: $primary-color !important;
    color: $my-white !important;
    font-family: "Josefin Sans", sans-serif !important;
    font-size: .7rem !important;
    padding: .2rem .3rem !important;
    margin-left: 1rem !important;
    width: 10% !important;

    &:hover {
        background-color: lighten($primary-color, 20%) !important;
    }
}

.deleted-row {
    pointer-events: none;
    color: $gray;

    .actions-cell {
        pointer-events: auto;
        color: $primary-color;
    }
}