@font-face {
    font-family: "Josefin Sans Italic";
    src: url("../fonts/JosefinSans-Italic-VariableFont_wght.ttf");
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Josefin Sans";
    src: url("../fonts/JosefinSans-VariableFont_wght.ttf");
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

$primary-color: #133C55;
$my-white: #efeff3;
$error-color: rgb(201, 3, 3);
$gray: #737272;
$light-blue: #00b5ad;
$orange: #f4a261;
$dark-orange: #b9763f;  
$dark-blue: #0F3057;


.header {
    background-color: $primary-color;
    color: $my-white;
    font-family: "Josefin Sans", sans-serif;
    position: fixed;
    z-index: 1000;
    width: 100%;
    
    .nav-container {
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        

        .nav__logo {
            font-size: 2rem;
            font-weight: bold;
            color: $my-white;
            text-decoration: none;
            margin-left: 5cap;
        }

        .nav__menu {
            .nav__list {
                list-style: none;
                display: flex;
                align-items: center;

                .nav__item {
                    margin: 0 1rem;

                    

                    .nav__link {
                        color: $my-white;
                        text-decoration: none;
                        transition: color 0.3s ease-in-out;
                        font-size: 1.2rem;

                        &.disabled {
                            opacity: 0.5;
                            pointer-events: none;
                            cursor: default;
                        }

                        &:hover {
                            color: $orange;
                        }

                        img {
                            width: 3rem;
                            border: 1px solid transparent;

                            &:hover {
                                border-color: $orange;
                                border-radius: 50%;
                                transition: border-color 0.3s ease-in-out;
                            }
                        }
                    }

                    // .logout-button {
                    //     background: none;
                    //     border: none;
                    //     color: $my-white;
                    //     font-family: "Josefin Sans", sans-serif;
                    //     font-size: 1.2rem;
                    //     cursor: pointer;
                    //     transition: color 0.3s ease-in-out;
                      
                    //     &:hover {
                    //       color: $orange;
                    //     }
                    //   }
                      

                      
                }
            }
        }

        .profile-dropdown {
            position: relative;
            display: inline-block;
          
            .dropdown-content {
              display: none;
              position: absolute;
              background-color: $primary-color;
              box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
              z-index: 1;
              transform: translateX(-20%);
          
              .dropdown-item {
                color: $my-white;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
                background: none;
                border: none;
                width: 100%;
                font-family: "Josefin Sans", sans-serif;
                font-size: 1rem;
                cursor: pointer;
                transition: background-color 0.3s ease-in-out;
          
                &:hover {
                //   background-color: $dark-orange;
                  background-color: $dark-blue;
                }
              }
            }
          
            &:hover .dropdown-content {
              display: block;
            }
          }
    }
}
