$primary-color: #133C55;
$my-white: #efeff3;
$error-color: rgb(201, 3, 3);
$gray: #737272;
$light-blue: #00b5ad;
$orange: #f4a261;
$dark-orange: #b9763f;  
$dark-blue: #0F3057;

body {
    width: 100%;
}

#profile-user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    width: 50%;
    height: 70vh;
    margin: 5% auto 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    color: $my-white;
    overflow: hidden;


    #profile-user-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    
        #profile-user-slide {
            width: 100%;
            transition: transform 0.5s ease; 
            transition: 0.5s ease-out;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        
          &.slide-left {
            transform: translateX(-100%);
            opacity: 0; 
          }

          &.slide-up {
            transform: translateY(-100%);
            opacity: 0; 
          }
    
        }

        .uneditable {
            opacity: .7;
            pointer-events: none;

        }
    }
}

.profile-user-pic-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    

    #profile-user-pic {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: block;
        margin-bottom: 10px;
    }
    

    #profile-user-button {
        width: 51%;
        border: none;
        font-family: "Josefin Sans", sans-serif;
        cursor: pointer;
        color: $primary-color;
        margin-bottom: 20px;
        font-size: 1em;
        text-decoration: underline;
    }
    
    #profile-user-button:hover {
        color: #386FA4;
        cursor: pointer;
    }

    #avatar {
        max-width: 100px;
    }
}

#profile-user-pic-userpage {
    opacity: 1;
    display: flex;
    margin-top: -5%;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    transition: opacity 0.5s ease-in-out;
    transition: transform 0.5s ease; 
    transition: 0.5s ease-out;
    font-family: "Josefin Sans", sans-serif;
    color: $primary-color;
    

  &.slide-left {
    transform: translateX(100%);
    opacity: 0; 
  }

    h2 {
        position: relative;
        color: $my-white;
        font-family: "Josefin Sans", sans-serif;
    }

    #buttons {
        display: flex;
        width: 40%;
        margin: 10% auto 0 auto;
        justify-content: space-between;

        #cancel {
            position: relative;
            color: #386FA4;
            border: none;
            background: inherit;
            font-weight: bolder;
            padding: 0;
            margin-left: 1%;
        }

        #cancel:hover {
            color: $primary-color;
            cursor: pointer;
        }

        #submit-2 {
            position: relative;
            width: 40%;
            padding: 10px;
            background-color: $primary-color;
            border-radius: 10px;
            border: 1px solid $primary-color;
            font-size: 1.1em;
            color: $my-white;
            font-family: "Josefin Sans", sans-serif;
        }

        #submit-2:hover {
            background-color: #386FA4;
            cursor: pointer;
        }
    }

    #avatar-hover
    {
        label:hover {
            cursor: pointer;
        }
    }

    #avatar-hover:hover {
        cursor: pointer;
    }
}

#organization-userpage {
    opacity: 0;
    display: flex;
    margin-top: -5%;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    transition: opacity 0.5s ease-in-out;
    transition: transform 0.5s ease;
    transition: 0.5s ease-out;
    transform: translateY(200%);

    &.slide-up {
        opacity: 1;
        transform: translateY(0);
    }
}

img {
    width: 100%;
    height: 100%;
    transform: translateX(0);
}