$primary-color: #133C55;
$my-white: #efeff3;
$error-color: rgb(201, 3, 3);
$gray: #737272;
$light-blue: #00b5ad;
$orange: #f4a261;
$dark-orange: #b9763f;  
$dark-blue: #0F3057;

body {
    width: 100%;
    height: 100vh;
}

#profile-user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $my-white;
    width: 45%;
    height: 70vh;
    margin: 10% auto 0  auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    color: $primary-color;
    overflow: hidden;
    position: relative;

    footer {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: #333;
        color: white;
        text-align: center;
        padding: 10px;
        z-index: 1;
    }


    #profile-user-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    
        #profile-user-slide {
            width: 100%;
            transition: transform 0.5s ease; 
            transition: 0.5s ease-out;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        
          &.slide-left {
            transform: translateX(-100%);
            opacity: 0; 
          }

          &.slide-up {
            transform: translateY(-100%);
            opacity: 0; 
          }
    
        }

        .uneditable {
            opacity: .7;
            pointer-events: none;

        }

        .user-profile {
            width: 100%;
            .user-details {
                

                h1 {
                    font-size: 2.8rem;
                    margin-top: 0;
                    text-align: center;
                    width: 100%;
                    margin-bottom: 0;;
                }

                .pair {
                    display: flex;
                    justify-content: space-between;
                    width: 80%;
                    font-size: 1rem;
                    font-family: "Josefin Sans", sans-serif;
                    color: $primary-color;
                    font-weight: bold;
                    // text-align: center;
                    margin: 1em auto;

                    div {
                        width: 40%;
                        display: flex;
                        flex-direction: column;
                        font-size: 1rem;
                        margin-top: 0;
                        margin-bottom: 0;

                        .PhoneInput {
                            width: 101%;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            margin-top: 0;
                            margin-bottom: 0;
                            font-size: 1rem;
                            font-family: "Josefin Sans", sans-serif;
                            color: $primary-color;
                            font-weight: bold;
                            text-align: center;


                            .PhoneInputInput {
                                width: 80%;
                            }

                            .PhoneInputCountry {
                                width: 20%;
                                margin: auto 0;

                                .PhoneInputCountrySelect{
                                    padding: 0;
                                }

                                .PhoneInputCountryIcon {
                                    width: fit-content;

                                    img {
                                        width: 100%;
                                        transform: translateX(0);
                                    }
                                }

                                .PhoneInputCountrySelectArrow {
                                    width: 10.8%;
                                    margin-top: 5px;
                                    margin-left: 2px;
                                }

                            }
                        }

                        strong {
                            margin-bottom: .5em;
                        }
                        

                        input{
                            width: 90%;
                            padding: 11px 10px;
                            border: 2px solid lighten($gray, 30%);
                            border-radius: 5px;
                            font-size: 1rem;
                            color: $primary-color;
                            background-color: $my-white;
                            font-family: "Josefin Sans", sans-serif;

                            &:focus {
                                border-color: $dark-blue;
                                outline: none;
                            }
                        }
            
                        select {
                            width: 101%;
                            padding: 10px;
                            border: 2px solid lighten($gray, 30%);
                            border-radius: 5px;
                            font-size: 1rem;
                            color: $primary-color;
                            background-color: $my-white;
                            font-family: "Josefin Sans", sans-serif;
                
                            &:focus {
                                border-color: $dark-blue;
                                outline: none;
                            }
                        }

                        #new-org {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                            gap: 10px;

                            button {
                                border: none;
                                padding: 0;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;


                                #add {
                                    width: 100%;
                                    padding: 0 20%;
                                    height: fit-content;
                                    border-radius: 50%;
                                    font-size: 2em;
                                    color: $primary-color;
                                    font-family: "Josefin Sans", sans-serif;
                                    transition: 0.3s ease-out;
                                    transform-style: preserve-3d;
                                
                                }

                                @keyframes spin {
                                    from {
                                        transform: rotateZ(0deg);
                                    }
                                    to {
                                        transform: rotateZ(180deg);
                                    }
                                }

                                #add:hover {
                                    color: #386FA4;
                                    animation: spin 1s ease-out 1;
                                    cursor: pointer;
                                }

                                #text-add {
                                    margin-top: 2px;
                                    font-size: 1em;
                                    color: $primary-color;
                                    font-weight: bold;
                                    font-family: "Josefin Sans", sans-serif;
                                
                                }
                            }
                        }
    
                    }
                }

                .buttons {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    font-size: 1rem;
                    font-family: "Josefin Sans", sans-serif;
                    color: $primary-color;
                    font-weight: bold;
                    text-align: center;
                    margin: 2em auto 1em auto;

                    button {
                        width: 20%;
                        padding: 7px;
                        border-radius: 10px;
                        border: 1px solid $primary-color;
                        font-size: 1.1em;
                        color: $my-white;
                        font-family: "Josefin Sans", sans-serif;
                        background-color: $primary-color;
                    }

                    button:hover {
                        background-color: #386FA4;
                        cursor: pointer;
                    }

                    #save {
                        background-color: $primary-color;
                        color: $my-white;
                    }

                    #save:hover {
                        background-color: #386FA4;
                        cursor: pointer;
                    }

                    #cancel {
                        margin-left: 5%;
                        background-color: $my-white;
                        color: $primary-color;

                    }

                    #cancel:hover {
                        color: $my-white;
                        cursor: pointer;
                        background-color: $gray;

                    }
                }
            }
        }
    }
}

.profile-user-pic-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 1em;

    

    #profile-user-pic {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: block;
        margin-bottom: 10px;
        transform: translateX(0);
    }
    

    #profile-user-button {
        width: 51%;
        border: none;
        font-family: "Josefin Sans", sans-serif;
        cursor: pointer;
        color: $primary-color;
        margin-bottom: 20px;
        font-size: 1em;
        text-decoration: underline;
    }
    
    #profile-user-button:hover {
        color: #386FA4;
        cursor: pointer;
    }

    #avatar {
        max-width: 100px;
    }
}

#profile-user-pic-userpage {
    opacity: 1;
    display: flex;
    margin-top: -5%;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    transition: opacity 0.5s ease-in-out;
    transition: transform 0.5s ease; 
    transition: 0.5s ease-out;
    font-family: "Josefin Sans", sans-serif;
    color: $primary-color;
    

  &.slide-left {
    transform: translateX(100%);
    opacity: 0; 
  }

    h2 {
        position: relative;
        color: $primary-color;
        font-family: "Josefin Sans", sans-serif;
    }

    #buttons {
        display: flex;
        width: 40%;
        margin: 10% auto 0 auto;
        justify-content: space-between;

        #cancel {
            position: relative;
            color: #386FA4;
            border: none;
            background: inherit;
            font-weight: bolder;
            padding: 0;
            margin-left: 1%;
        }

        #cancel:hover {
            color: $primary-color;
            cursor: pointer;
        }

        #submit-2 {
            position: relative;
            width: 40%;
            padding: 10px;
            background-color: $primary-color;
            border-radius: 10px;
            border: 1px solid $primary-color;
            font-size: 1.1em;
            color: $my-white;
            font-family: "Josefin Sans", sans-serif;
        }

        #submit-2:hover {
            background-color: #386FA4;
            cursor: pointer;
        }
    }

    #avatar-hover
    {
        label:hover {
            cursor: pointer;
        }
    }

    #avatar-hover:hover {
        cursor: pointer;
    }
}

#organization-userpage {
    opacity: 0;
    display: flex;
    margin-top: -5%;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    transition: opacity 0.5s ease-in-out;
    transition: transform 0.5s ease;
    transition: 0.5s ease-out;
    transform: translateY(200%);

    &.slide-up {
        opacity: 1;
        transform: translateY(0);
    }
}


